
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
.navbar ul li {display:inline;}
}
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 4px solid black;
  display: inline-block;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
  padding: 13px 0;
  color: #fffebb;
  border-bottom-color: #fffebb;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float:left;
  font-size: 20px;
  width: 50%;
  height: 100px;
  outline: 2px solid #222222;
  text-align: center;
  line-height: 100px;
  color: black;
  background: white;
}

div {
  padding: 30px;
}
@media (max-width: 480px) {
  h1, nav {
    display: block;
    text-align: center;
  }
  h2 {
    font-size: 1em;
    display: inline;
  }
  p, ul {
    margin: 1.8em .6em 0;
}
  li {
    width: 80%;
    outline-width: .5em;
    padding: .5em;
    height: 2em;
    line-height: 2em;
  }
  nav a {
    margin: 0 1em 1em;
  }
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}


section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #F1A629;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #A5D8F6;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
footer {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}